[access]
	inheritFrom = All-Projects
[project]
	description = 5GC core node kubedge simulator
[access "refs/*"]
	owner = group user/kubedge-devops
[access "refs/for/refs/*"]
	read = group user/kubedge-devops
	push = group user/kubedge-devops
	label-Code-Review = -2..+2 group user/kubedge-devops
	label-Verified = -1..+1 group user/kubedge-devops
	rebase = group user/kubedge-devops
	removeReviewer = group user/kubedge-devops
	submit = group user/kubedge-devops
[access "refs/heads/*"]
	read = group user/kubedge-devops
	create = group user/kubedge-devops
	push = +force group user/kubedge-devops
	pushMerge = group user/kubedge-devops
[access "refs/tags/*"]
	push = group user/kubedge-devops
	push = +force group user/kubedge-devops
